/* COLORS VARIABLES*/
/* BASICS */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

ul {
  padding: 0; }

.wrap {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  margin: 0; }

h1, h2, h3, h4, h5 {
  color: #242424;
  margin: 0; }

h1 {
  font-size: 62px; }

h2 {
  font-size: 45px;
  font-weight: bold; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 20px; }

p {
  font-size: 14px;
  color: #878787; }

.link_btn {
  background: #2ebaee;
  margin-bottom: 45px;
  color: #fff;
  border-radius: 50px;
  padding: 15px 25px;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  display: inline-block; }

.link_btn2 {
  background: #fff;
  margin-bottom: 45px;
  color: #2ebaee;
  border-radius: 50px;
  padding: 15px 25px;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  display: inline-block; }

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-offset-0, .col-xs-offset-1, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9 {
  padding: 0 !important; }

/* HEADER */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/header_bg.jpg") no-repeat 0 -40px;
  background-size: cover; }
  header .fa.fa-bars {
    font-size: 2em;
    color: #fff; }
  header .navbar {
    position: relative;
    background: rgba(0, 0, 0, 0.4); }
    header .navbar .toggle {
      position: absolute;
      right: 10%;
      top: 45%;
      display: none; }
    header .navbar .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
    header .navbar nav {
      display: block;
      margin: 40px 0; }
      header .navbar nav ul {
        margin-right: 10%; }
        header .navbar nav ul li {
          display: inline-block;
          color: #fff;
          list-style-type: none;
          text-decoration: none;
          padding: 0 25px;
          line-height: 35px;
          border: 1px solid transparent; }
        header .navbar nav ul li:hover {
          border-bottom: 1px solid #2ebaee;
          color: #2ebaee; }
    header .navbar .fa.fa-search {
      color: #fff;
      font-size: 24px;
      margin-top: 40px; }
  header .banner .title {
    margin: 335px 0 150px; }
    header .banner .title h1 {
      color: #fff;
      margin-bottom: 20px; }
      header .banner .title h1 span {
        color: #2ebaee; }
    header .banner .title h4 {
      color: #fff;
      margin-bottom: 60px; }
    header .banner .title .link_btn {
      margin-bottom: 150px; }

/* OUR SERVICES SECTION*/
section#our_services {
  position: relative; }
  section#our_services .clip {
    clip-path: polygon(0 81%, 100% 22%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 81%, 100% 22%, 100% 100%, 0 100%);
    background: #2ebaee;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  section#our_services h2 {
    color: #242424;
    margin-top: 4%; }
  section#our_services .separator {
    border-bottom: 1px solid #000;
    margin: 4% 0;
    opacity: 0.1; }
  section#our_services img.laptop {
    width: 100%; }
  section#our_services .margin_add {
    margin-top: 100px; }
  section#our_services img.tablet {
    margin-bottom: 50px;
    width: 85%; }
  section#our_services .text_tablet h3 {
    color: #fff; }
  section#our_services .text_tablet p {
    color: #fff; }
  section#our_services .link_btn, section#our_services .link_btn2 {
    margin-top: 50px; }

/* SECTION ILLUSTRATION */
section#illustration img.guy {
  width: 100%;
  height: 100%; }
section#illustration .content {
  margin-left: 40px;
  width: 50%; }
section#illustration h2 {
  margin: 15% 0 10%; }
section#illustration .link_btn {
  margin-top: 30px; }

/* SECTION FOUR_SQUARE */
section#four_square .photo1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo1.png") no-repeat; }
section#four_square .photo2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo2.png") no-repeat; }
section#four_square .photo3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo3.png") no-repeat; }
section#four_square .photo4 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo4.png") no-repeat; }
section#four_square .photo1 :hover, section#four_square .photo2 :hover, section#four_square .photo3 :hover, section#four_square .photo4 :hover {
  background: linear-gradient(rgba(46, 186, 238, 0.8), rgba(46, 186, 238, 0.8)); }
section#four_square h3 {
  color: #fff;
  padding: 35% 20%; }

/* SECTION TEAM */
section#team h2 {
  margin: 5%; }
section#team span {
  color: #2ebaee; }
section#team .link_btn {
  margin-bottom: 100px; }

/* PREFOOTER */
section#prefooter {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/prefooter.png") no-repeat;
  background-size: cover; }
  section#prefooter span {
    color: #2ebaee; }
  section#prefooter .contact_info ul {
    margin: 50px -30px; }
    section#prefooter .contact_info ul li {
      list-style-type: none;
      padding-left: 4%;
      display: inline; }
  section#prefooter .contact_info h1 {
    color: #fff;
    margin: 100px 0 40px; }
  section#prefooter .contact_info h4 {
    color: #878787;
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    padding-bottom: 15px; }
  section#prefooter .contact_info p {
    font-size: 16px;
    margin: 50px 0 20px; }
  section#prefooter input[type='name'] {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    color: #fff;
    padding: 20px 25px;
    width: 90%;
    margin-top: 110px; }
  section#prefooter input[type='email'] {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    color: #fff;
    padding: 20px 25px;
    width: 90%;
    margin-top: 30px; }
  section#prefooter textarea {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
    width: 90%;
    padding: 20px 25px 100px;
    margin-top: 30px;
    font-size: 16px; }
  section#prefooter input[type='submit'] {
    background: #2ebaee;
    color: #fff;
    padding: 15px 25px;
    border-width: 0;
    border-radius: 50px;
    margin: 30px auto 60px;
    width: 150px; }

/* FOOTER */
footer {
  background: #000; }
  footer ul {
    padding: 30px 0;
    margin-left: -30px; }
    footer ul li {
      display: inline-block;
      color: #b2b2b2; }
    footer ul a {
      padding-left: 4%;
      font-weight: 800; }
    footer ul a :hover {
      color: #2ebaee; }
  footer p {
    color: #b2b2b2;
    padding: 6% 0;
    text-align: right; }

/* ------------------------------------RESPONSIVE-------------------------------------- */
/* -- MEDIA QUERIES - MOBILE PHONES */
@media only screen and (max-width: 40em) {
  /* HEADER */
  header {
    position: relative; }
    header .banner .title {
      margin: 20px auto; }
    header .logo {
      margin-top: 5%; }
    header .navbar .toggle {
      display: block;
      top: 45px; }
    header .navbar nav {
      display: block;
      margin: 0; }
      header .navbar nav ul {
        display: none;
        width: 100%; }
        header .navbar nav ul li {
          display: block;
          padding: 10px 0; }
        header .navbar nav ul a {
          text-decoration: none;
          display: block; }
      header .navbar nav .active {
        display: block; }
    header .fa.fa-search {
      color: #fff;
      font-size: 24px;
      position: absolute;
      right: 10%;
      top: -60%; }
    header h1 {
      font-size: 54px; }
    header h4 {
      padding: 5% 0; }

  /* SECTION#OUR_SERVICES */
  section#our_services h2 {
    margin: 5% 0; }
  section#our_services .clip {
    clip-path: polygon(0 82%, 100% 35%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 82%, 100% 35%, 100% 100%, 0 100%); }
  section#our_services h3 {
    padding: 0 10px;
    margin-top: -15%; }
  section#our_services p {
    padding: 0 10px; }
  section#our_services img.tablet {
    margin-bottom: 35%; }

  /* SECTION#ILLUSTRATION*/
  section#illustration .content {
    margin: 0;
    width: 100%; }
  section#illustration h2 {
    padding: 0 5%; }
  section#illustration p {
    padding: 0 5%; }

  /* SECTION#FOUR_SQUARE*/
  section#four_square h3 {
    padding: 30% 15%; }
  section#four_square .photo1, section#four_square .photo2, section#four_square .photo3, section#four_square .photo4 {
    width: 78%;
    margin: 20px auto; }

  /* PREFOOTER */
  section#prefooter .contact_info h1 {
    font-size: 50px;
    margin: 60px 0; }
  section#prefooter .contact_info h4 {
    font-size: 20px; }
  section#prefooter .contact_info ul {
    margin: 30px 0 10px; }
    section#prefooter .contact_info ul li {
      display: inline-block;
      margin-bottom: 10px; }
  section#prefooter input[type='name'] {
    padding: 20px 25px;
    width: 70%;
    margin-top: 0; }
  section#prefooter input[type='email'] {
    padding: 20px 25px;
    width: 70%;
    margin-top: 25px; }
  section#prefooter textarea {
    width: 70%;
    padding: 20px 25px 100px;
    margin-top: 25px; }

  /* FOOTER */
  footer ul {
    padding: 0; }
    footer ul li {
      display: block; }
    footer ul a {
      text-decoration: none;
      color: #878787; }
  footer p {
    text-align: center;
    padding: 0 10px; } }
/* END MOBILE RESPONSIVE*/
/* ---------------------------------------------------------------*/
/*  MEDIA QUERIES - TABLETS */
@media only screen and (max-width: 48em) {
  /*ul{
      padding-right: 40px;
  }
  */
  /* HEADER */
  header .banner .title {
    padding: 0 20px;
    margin: 100px 0; }
  header .navbar .toggle {
    display: block;
    top: 45px; }
  header .navbar nav {
    display: block;
    margin: 0; }
    header .navbar nav ul {
      display: none;
      width: 100%; }
      header .navbar nav ul li {
        display: block;
        padding: 10px 0; }
      header .navbar nav ul a {
        text-decoration: none;
        display: block; }
    header .navbar nav .active {
      display: block; }
  header h1 {
    margin: 15% 0; }
  header h4 {
    margin: 5% 0; }
  header nav {
    display: block; }
    header nav ul {
      display: none;
      width: 100%;
      margin: 0; }
      header nav ul li {
        display: block;
        padding: 20px 0; }
    header nav a {
      text-decoration: none; }
  header .fa.fa-search {
    display: none;
    text-align: right;
    margin: 0 10% 0 0; }
  header .active {
    display: block; }
  header .toggle {
    display: block;
    top: 88px; }

  /*SECTION#ILLUSTRATION*/
  section#illustration .content {
    width: 100%;
    margin: 0 auto; }
  section#illustration h2 {
    margin: 10% 0; }

  /* SECTION#FOUR_SQUARE*/
  section#four_square h3 {
    padding: 30% 15%; }
  section#four_square .photo1, section#four_square .photo2, section#four_square .photo3, section#four_square .photo4 {
    width: 65%;
    margin: 20px auto; }

  /* SECTION#TEAM */
  section#team h2 {
    margin: 10% 0; }

  /* PREFOOTER*/
  section#prefooter input[type='name'] {
    width: 80%; }
  section#prefooter input[type='email'] {
    width: 80%; }
  section#prefooter textarea {
    width: 80%; }
  section#prefooter .contact_info ul {
    margin: 0; }

  /* FOOTER*/
  footer p {
    padding: 6% 10%;
    text-align: center; }
  footer ul {
    padding: 6% 0 0; }
    footer ul a {
      padding-left: 12px; } }
@media only screen and (min-width: 49em) and (max-width: 64em) {
  /* HEADER*/
  header .navbar nav ul {
    margin: 0; }
  header .navbar .search {
    position: absolute;
    right: 25px;
    top: 0; }
  header .navbar .fa.fa-search {
    display: block;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 40px; }
  header nav {
    display: block; }
    header nav ul {
      margin: 50px 0 0 0; }
  header h1 {
    padding: 5% 10%; }
  header .banner .title {
    margin: 5% 0 12%; }

  /* SECTION ILLUSTRATION*/
  section#illustration .content {
    width: 80%;
    margin: 0 auto; }
  section#illustration h2 {
    margin: 10% 0; }

  /* SECTION FOUR_SQUARE*/
  section#four_square .photo1, section#four_square .photo2, section#four_square .photo3, section#four_square .photo4 {
    padding: 5px 0; }

  /* SECTION TEAM */
  section#team h2 {
    margin: 20% 0; }

  /* PREFOOTER */
  section#prefooter input[type='name'] {
    width: 80%; }
  section#prefooter input[type='email'] {
    width: 80%; }
  section#prefooter textarea {
    width: 80%; }

  /* FOOTER*/
  footer p {
    text-align: center;
    padding: 1% 0; }
  footer ul {
    padding: 2% 0; } }

/*# sourceMappingURL=style.css.map */
