/* BASE + HELPERS */
/* COLORS VARIABLES*/
/* BOX-SHADOW */
/* TRANSITION */
/* BORDER-RADIUS */
/* GRADIENT */
/* BASICS */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

ul {
  padding: 0; }

.wrap {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  margin: 0; }

h1, h2, h3, h4, h5 {
  color: #242424;
  margin: 0; }

h1 {
  font-size: 62px; }

h2 {
  font-size: 45px;
  font-weight: bold; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 20px; }

p {
  font-size: 14px;
  color: #878787; }

.link_btn, .link_btn2 {
  margin-bottom: 45px;
  border-radius: 50px;
  padding: 15px 25px;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in; }

.link_btn {
  background: #2ebaee;
  color: #fff; }
  .link_btn:hover {
    background: #1090c0; }

.link_btn2 {
  background: #fff;
  color: #2ebaee; }
  .link_btn2:hover {
    background: #1090c0;
    color: #fff; }

/* PARTIALS */
/* HEADER */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
  position: relative;
  background-size: cover;
  height: 1070px; }
  header video {
    position: absolute;
    width: 100%;
    z-index: -99999;
    object-fit: cover; }
  header .fa.fa-bars {
    font-size: 2em;
    color: #fff; }
  header .navbar {
    position: relative;
    background: rgba(0, 0, 0, 0.4); }
    header .navbar .toggle {
      position: absolute;
      right: 10%;
      top: 45%;
      display: none; }
    header .navbar .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
    header .navbar nav {
      margin: 20px 0; }
      header .navbar nav ul {
        display: inline-block;
        margin-right: 10%; }
        header .navbar nav ul li {
          display: inline-block; }
          header .navbar nav ul li a {
            color: #fff;
            list-style-type: none;
            text-decoration: none;
            padding: 10px 25px;
            line-height: 35px;
            border: 1px solid transparent; }
            header .navbar nav ul li a:hover {
              border-bottom: 1px solid #2ebaee;
              color: #2ebaee;
              margin: 0 auto; }
    header .navbar .fa.fa-search {
      color: #fff;
      font-size: 24px;
      margin-top: 40px; }
  header .title {
    height: 250px;
    margin-top: 18rem; }
    header .title h1 {
      color: #fff;
      margin-bottom: 20px; }
      header .title h1 span {
        color: #2ebaee; }
    header .title h4 {
      color: #fff;
      margin-bottom: 60px; }
    header .title .link_btn {
      margin-bottom: 150px; }

/*  MEDIA QUERIES */
@media only screen and (max-width: 1199px) {
  header {
    height: 100vh; }
    header video {
      height: 100vh; }
    header .title {
      padding: 0 20px;
      margin-top: 20px; }
    header .navbar .toggle {
      display: block;
      top: 45px; }
    header .navbar .logo {
      padding: 20px 0; }
    header .navbar nav {
      margin: 0; }
      header .navbar nav ul {
        display: none;
        width: 100%; }
        header .navbar nav ul li {
          display: block;
          padding: 10px 0; }
        header .navbar nav ul a {
          text-decoration: none;
          display: block; }
      header .navbar nav .active {
        display: block; }
    header h4 {
      margin: 5% 0; }
    header nav {
      display: block; }
      header nav ul {
        display: none;
        width: 100%;
        margin: 0; }
        header nav ul li {
          display: block;
          padding: 20px 0; }
      header nav a {
        text-decoration: none; }
    header .fa.fa-search {
      display: none;
      text-align: right;
      margin: 0 10% 0 0; }
    header .active {
      display: block; }
    header .toggle {
      display: block;
      top: 88px; } }
@media only screen and (max-width: 767px) {
  /* HEADER */
  header {
    position: relative; }
    header .title {
      margin-top: 0; }
    header .logo {
      margin-top: 5%; }
    header .navbar .toggle {
      display: block;
      top: 45px; }
    header .navbar nav {
      display: block;
      margin: 0; }
      header .navbar nav ul {
        display: none;
        width: 100%; }
        header .navbar nav ul li {
          display: block;
          padding: 10px 0; }
        header .navbar nav ul a {
          text-decoration: none;
          display: block; }
      header .navbar nav .active {
        display: block; }
    header .fa.fa-search {
      color: #fff;
      font-size: 24px;
      position: absolute;
      right: 10%;
      top: -60%; }
    header h1 {
      font-size: 30px; }
    header h4 {
      padding: 5% 0; } }
/* OUR SERVICES SECTION*/
section#our_services {
  position: relative; }
  section#our_services .clip {
    clip-path: polygon(0 81%, 100% 22%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 81%, 100% 22%, 100% 100%, 0 100%);
    background: #2ebaee;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  section#our_services h2 {
    color: #242424;
    margin-top: 4%; }
  section#our_services .separator {
    border-bottom: 1px solid #000;
    margin: 4% 0;
    opacity: 0.1; }
  section#our_services img.laptop {
    width: 100%; }
  section#our_services .margin_add {
    margin-top: 100px; }
  section#our_services img.tablet {
    margin-bottom: 50px;
    width: 85%; }
  section#our_services .text_tablet h3 {
    color: #fff; }
  section#our_services .text_tablet p {
    color: #fff; }
  section#our_services .link_btn, section#our_services .link_btn2 {
    margin-top: 50px; }

/*  MEDIA QUERIES */
@media only screen and (max-width: 40em) {
  section#our_services h2 {
    margin: 5% 0; }
  section#our_services .clip {
    clip-path: polygon(0 82%, 100% 35%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 82%, 100% 35%, 100% 100%, 0 100%); }
  section#our_services h3 {
    padding: 0 10px;
    margin-top: -15%; }
  section#our_services p {
    padding: 0 10px; }
  section#our_services img.tablet {
    margin-bottom: 35%; } }
/* SECTION ILLUSTRATION */
section#illustration img.guy {
  width: 100%;
  height: 100%; }
section#illustration .content {
  margin-left: 40px;
  width: 50%; }
section#illustration h2 {
  margin: 15% 0 10%; }
section#illustration .link_btn {
  margin-top: 30px; }

/*  MEDIA QUERIES */
@media only screen and (max-width: 48em) {
  section#illustration .content {
    width: 100%;
    margin: 0 auto; }
  section#illustration h2 {
    margin: 10% 0; } }
@media only screen and (max-width: 40em) {
  section#illustration .content {
    margin: 0;
    width: 100%; }
  section#illustration h2 {
    padding: 0 5%; }
  section#illustration p {
    padding: 0 5%; } }
/* SECTION FOUR_SQUARE */
section#four_square .photo {
  height: 430px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 -0.5rem; }
  section#four_square .photo1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo1.png") no-repeat; }
    section#four_square .photo1:hover {
      background: linear-gradient(rgba(46, 186, 238, 0.7), rgba(46, 186, 238, 0.7)), url("../img/photo1.png") no-repeat; }
  section#four_square .photo2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo2.png") no-repeat; }
    section#four_square .photo2:hover {
      background: linear-gradient(rgba(46, 186, 238, 0.7), rgba(46, 186, 238, 0.7)), url("../img/photo2.png") no-repeat; }
  section#four_square .photo3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo3.png") no-repeat; }
    section#four_square .photo3:hover {
      background: linear-gradient(rgba(46, 186, 238, 0.7), rgba(46, 186, 238, 0.7)), url("../img/photo3.png") no-repeat; }
  section#four_square .photo4 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/photo4.png") no-repeat; }
    section#four_square .photo4:hover {
      background: linear-gradient(rgba(46, 186, 238, 0.7), rgba(46, 186, 238, 0.7)), url("../img/photo4.png") no-repeat; }
section#four_square h3 {
  color: #fff;
  padding: 0 2rem; }

/*  MEDIA QUERIES */
@media only screen and (max-width: 1023px) {
  section#four_square h3 {
    padding: 20px 40px; }
  section#four_square .photo {
    background-size: cover; } }
@media only screen and (max-width: 40em) {
  section#four_square h3 {
    padding: 30% 15%; } }
/* SECTION TEAM */
section#team h2 {
  margin: 5%; }
section#team span {
  color: #2ebaee; }
section#team .link_btn {
  margin-bottom: 100px; }

/*  MEDIA QUERIES */
@media only screen and (max-width: 48em) {
  section#team h2 {
    margin: 10% 0; } }
/* PREFOOTER */
section#prefooter {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/prefooter.png") no-repeat;
  background-size: cover; }
  section#prefooter span {
    color: #2ebaee; }
  section#prefooter .contact_info ul {
    margin: 50px -30px; }
    section#prefooter .contact_info ul li {
      list-style-type: none;
      padding-left: 4%;
      display: inline-block; }
  section#prefooter .contact_info h1 {
    color: #fff;
    margin: 100px 0 40px; }
  section#prefooter .contact_info h4 {
    color: #878787;
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    padding-bottom: 15px; }
  section#prefooter .contact_info p {
    font-size: 16px;
    margin: 50px 0 20px; }
  section#prefooter #myform {
    margin-top: 100px; }
    section#prefooter #myform input[type='name'], section#prefooter #myform input[type='email'] {
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid #b2b2b2;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      color: #fff;
      padding: 20px 25px;
      width: 90%;
      margin: 10px 0;
      font-family: 'Montserrat', sans-serif; }
    section#prefooter #myform textarea {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      color: #fff;
      width: 90%;
      padding: 20px 25px 100px;
      margin-top: 10px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif; }
    section#prefooter #myform a.link_btn {
      margin-top: 30px; }

/*  MEDIA QUERIES */
@media only screen and (max-width: 1023px) {
  section#prefooter #myform {
    margin-top: 20px; }
    section#prefooter #myform input[type='name'] {
      width: 80%; }
    section#prefooter #myform input[type='email'] {
      width: 80%; }
    section#prefooter #myform textarea {
      width: 80%; }
  section#prefooter .contact_info ul {
    margin: 20px 0; } }
@media only screen and (max-width: 40em) {
  section#prefooter .contact_info h1 {
    font-size: 50px;
    margin: 60px 0; }
  section#prefooter .contact_info h4 {
    font-size: 20px; }
  section#prefooter .contact_info ul {
    margin: 30px 0 10px; }
    section#prefooter .contact_info ul li {
      display: inline-block;
      margin-bottom: 10px; }
  section#prefooter input[type='name'] {
    padding: 20px 25px;
    width: 70%;
    margin-top: 0; }
  section#prefooter input[type='email'] {
    padding: 20px 25px;
    width: 70%;
    margin-top: 25px; }
  section#prefooter textarea {
    width: 70%;
    padding: 20px 25px 100px;
    margin-top: 25px; } }
/* FOOTER */
footer {
  background: #000; }
  footer ul {
    padding: 30px 0;
    margin-left: -30px; }
    footer ul li {
      display: inline-block;
      color: #b2b2b2; }
    footer ul a {
      padding-left: 4%;
      font-weight: 800; }
      footer ul a:hover {
        color: #2ebaee; }
  footer p {
    color: #b2b2b2;
    padding: 6% 0; }

/*  MEDIA QUERIES */
@media only screen and (max-width: 48em) {
  footer ul {
    padding: 6% 0 0; }
    footer ul a {
      padding-left: 12px; } }
@media only screen and (max-width: 40em) {
  footer ul {
    padding: 0; }
    footer ul li {
      display: block; }
    footer ul a {
      text-decoration: none;
      color: #878787; }
  footer p {
    text-align: center;
    padding: 0 10px; } }

/*# sourceMappingURL=style.css.map */
