/* SECTION ILLUSTRATION */
section#illustration{
    
    img.guy{
        width: 100%;
        height: 100%;
    }
    .content{
        margin-left: 40px;
        width: 50%;
    }
    h2{
        margin: 15% 0 10%;
    }
    .link_btn{
        margin-top: 30px;
    }
}


/*  MEDIA QUERIES */
@media only screen and (max-width: 48em){

    section#illustration {

        .content {
            width: 100%;
            margin: 0 auto;
        }

        h2 {
            margin: 10% 0;
        }
    }
}


@media only screen and (max-width: 40em) {
    section#illustration{
        .content{
           margin: 0;
           width: 100%;
        }
        h2{
            padding: 0 5%;
        }
        p{
           padding: 0 5%;
        }
   }
}