/* SECTION TEAM */
section#team {

    h2 {
        margin: 5%;
    }

    span{
        color: map-get($colors, blue);
    }
    
    .link_btn {
        margin-bottom: 100px;
    }
}

/*  MEDIA QUERIES */
@media only screen and (max-width: 48em) {

    section#team {

        h2 {
            margin: 10% 0;
        }
    }
}